body {
    margin: 0;
    padding: 0;
    font: 12px "\5B8B\4F53", sans-serif;
    text-align: center;
    width: 100%;
    background-color: #824986;
}

.bg {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 900px;
}

.bg_photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.roll_box {
    position: absolute;
    margin-top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    min-width: 400px;
    text-align: center;
}

.holder {
    height: 20%;
    /*max-width: 25%;*/
}

.result_box {
    width: 100%;
    position: absolute;
    margin-top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    min-height: 15%;
    transform: translateX(-50%);
    text-align: center;
    /*margin-bottom: 100px;*/
}

.result {
    max-height: 100%;
    margin: 0 5px 10px 5px;
}

.win_num {
    position: absolute;
    right: 0;
    top: 0;
    width: 2%;
}

.button_box {
    margin: 10px 0 0 0;
}

.button_box .btn {
    background-image: url(img/button.png);
    background-size: 50%;
    position: fixed;
    bottom: 0;
    right: 0%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 0 30px;
    margin: 0 10px;
    color: #555;
    font-family: "\5B8B\4F53", sans-serif;
    font-size: 40px;
}

#imgAttr {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    height: 480px;
    /*width: 300px;*/
    display: none;
    z-index: 999;
}
